<div class="container">
  <div id="further-findings-section" class="section-top mt-4 bg-grey p-4">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title">Further Findings</h3>
        <h6 class="fst-italic" *ngIf="sector !== 'all-sectors'">{{getSectorName()}} Sector</h6>
      </div>
      <div class="col-md-8">
        <div class="row ps-3 pe-3 pt-md-0 pt-2">
          <select #select class="msa-form-select bg-grey ms-md-auto me-3 mb-md-0 mb-1" aria-label="Minimum requirements year filter"
                  style="max-width: 120px; max-height: 50px; font-size: 0.8em" [(ngModel)]="year"
                  (change)="updateData(); select.value = this.year">
            <option value="" selected>ALL YEARS</option>
            <option value="latest">LATEST</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
          </select>
          <select class="msa-form-select bg-grey" aria-label="Legislation filter"
                  [(ngModel)]="legislation" (change)="updateData()">
            <option [ngValue]="'both'" selected>LEGISLATION</option>
            <option [ngValue]="'uk'">UK MSA</option>
            <option [ngValue]="'aus'">AUS MSA</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-3" style="height: 150px" *ngIf="isLoading">
      <div class="col-12 text-center align-self-center">
        <div class="spinner-grow text-warning bg-deep-blue" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="row dive-deeper mt-3 " [ngClass]="!isLoading ? 'show-element': 'hide-element'">
      <div class="col-lg-4 mb-lg-0 mb-3">
        <div class="accordion" id="approach_to_policies">
          <div class="accordion-item">
            <div class="accordion-header" id="approachToPoliciesTitle">
              <div class="accordion-button-grey collapsed" type="button" data-bs-toggle="collapse"
                   data-bs-target="#approach-to-policies-alt-two" aria-expanded="false" aria-controls="collapseThree">
                <div class="row mt-3">
                  <div class="row">
                    <div class="msa-primary-info">{{percentage_of_companies_report_policy_beyond_t1}}%</div>
                  </div>
                  <div class="row">
                    <p class="accordion-paragraph">of companies report having a modern slavery policy that applies to
                      stakeholders beyond the 1st tier of their supply chain</p>
                    <h5 class="on-details">Policies</h5>
                  </div>
                </div>
              </div>
            </div>
            <div id="approach-to-policies-alt-two" class="accordion-collapse collapse"
                 aria-labelledby="approachToPoliciesTitle"
                 data-bs-parent="#approach_to_policies">
              <div class="accordion-body">
                <approach-to-policies [year]="this.year" [legislation]="this.legislation" [sector]="this.sector"></approach-to-policies>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-lg-0 mb-3">
        <div class="accordion" id="approach_to_risks_accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree">
              <div class="accordion-button-grey collapsed" type="button" data-bs-toggle="collapse"
                   data-bs-target="#ApproachToRisksAltTwo" aria-expanded="false" aria-controls="collapseThree">
                <div class="row mt-3">
                  <div class="row">
                    <div class="msa-primary-info">{{percentage_of_companies_identified_risks}}%</div>
                  </div>
                  <div class="row">
                    <p class="accordion-paragraph">of companies have identified risks likely to occur within their own
                      and/or supply chain operations
                      <br>
                    </p>

                    <h5 class="on-details">Risks</h5>
                  </div>
                </div>
              </div>
            </div>
            <div id="ApproachToRisksAltTwo" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#approach_to_risks_accordion">
              <div class="accordion-body">
                <approach-to-risks [year]="this.year" [legislation]="this.legislation" [sector]="this.sector"></approach-to-risks>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-lg-0 mb-3">
        <div class="accordion" id="approach_to_incidents">
          <div class="accordion-item">
            <div class="accordion-header" id="headingApproachToIncidents">
              <div class="accordion-button-grey collapsed" type="button" data-bs-toggle="collapse"
                   data-bs-target="#collapseApproachToIncidents-alt-two" aria-expanded="false"
                   aria-controls="collapseApproachToIncidents">
                <div class="row mt-3">
                  <div class="row">
                    <div class="msa-primary-info">{{percentage_of_companies_identified_incidents}}%</div>
                  </div>
                  <div class="row">
                    <p class="accordion-paragraph">of companies have identified a specific incident of modern slavery in
                      their own and/or supply chain operations</p>
                    <h5 class="on-details">Incidents</h5>
                  </div>
                </div>
              </div>
            </div>
            <div id="collapseApproachToIncidents-alt-two" class="accordion-collapse collapse"
                 aria-labelledby="headingApproachToIncidents" data-bs-parent="#approach_to_incidents">
              <div class="accordion-body">
                <approach-to-incidents [year]="this.year" [legislation]="this.legislation" [sector]="this.sector"></approach-to-incidents>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">The Australian Modern Slavery Act</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>The Australian Modern Slavery Act was passed in 2018 and required companies to produce their first statement
        for
        financial year 2019. These needed to be submitted within 3 months after year's end (in 2020) but for this first
        year the government provided companies with an extension due to the impact of the covid pandemic. As a result,
        most companies submitted statements under the Australian Act from the financial year 2020 onward.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <div class="section-bottom  bg-grey pe-4 pb-4">
    <export-as [sector]="sector" [section]="'further-findings'"
               [elementId]="'further-findings-section'"
               [ngClass]="!isLoading ? 'show-element': 'hide-element'"></export-as>
  </div>
</div>
