a.nav-link:active {
  color: #FFDC00 !important;
}

@media only screen and (max-width: 576px) {
  .share {
    display: none;
  }
  .nav-link{
    padding: 0.3rem 0.7rem!important;
  }
}

@media only screen and (max-width: 360px) {
  .share {
    display: none;
  }
  .dashboard {
    display: none;
  }
  .nav-link{
    padding: 0.3rem 0.7rem!important;
  }
}

a.nav-link {
  color: white !important;
}

a.nav-link.active {
  color: #FFDC00 !important;
}

.text-yellow {
  color: #FFDC00 !important;
}
