a.nav-link:active {
  color: #FFDC00 !important;
}

@media only screen and (max-width: 576px) {
  .share {
    display: none;
  }
}

@media only screen and (max-width: 359px) {
  .share {
    display: none;
  }
  .dashboard {
    display: none;
  }
}

a.nav-link {
  color: white !important;
  padding: 0.4rem 0.8rem!important;
}

a.nav-link.active {
  color: #FFDC00 !important;
}

.text-yellow {
  color: #FFDC00 !important;
}
