<div class="bg-grey mt-5">
  <div class="container pt-3 pb-5">
    <div class="row">
      <p class="text-center creators">A collaboration between:</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <a href="https://walkfree.org/"><img class="logo" src="assets/logos/walk_free_footer_logo.svg"/></a>
      </div>
      <div class="col-4 text-center logo-center">
        <a href="https://wikirate.org"><img class="logo" src="assets/logos/wikirate_logo.svg"/></a>
      </div>
    </div>
  </div>
</div>
<div class="bg-orange">
  <div class="footer-container">
    <div class="row">
      <div class="col-11">
        <div class="mt-1 text-light-white mb-1">
          Copyright © {{current_year}} Minderoo Foundation Pty Ltd. All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
