<div class="container">
  <div id="disclosure-rates" class="section-top mt-4 p-4">
    <div class="row">
      <div class="col-md-8">
        <h3 class="title">Sector Disclosure Rates</h3>
      </div>
      <div class="col-md-4">
        <select class="msa-form-select ms-md-auto" aria-label="Minimum requirements year filter"
                style="max-width: 120px; max-height: 50px; font-size: 0.8em" [(ngModel)]="year"
                (change)="updateDisclosureRates()">
          <option [ngValue]="''" selected>ALL YEARS</option>
          <option [ngValue]="'latest'">LATEST</option>
          <option [ngValue]="2021">2021</option>
          <option [ngValue]="2020">2020</option>
          <option [ngValue]="2019">2019</option>
          <option [ngValue]="2018">2018</option>
          <option [ngValue]="2017">2017</option>
          <option [ngValue]="2016">2016</option>
          <option [ngValue]="2015">2015</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>The average number of measures and actions reported by companies in their modern slavery statements.</p>
      </div>
    </div>
    <div class="row mt-3" style="height: 150px" *ngIf="isLoading">
      <div class="col-12 text-center align-self-center">
        <div class="spinner-grow text-warning bg-deep-blue" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <!--  <hr class="deep-blue no-margin">-->
    <div class="disclosure-rates" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
      <div class="row justify-content-center">
        <div class="col-md-4 mt-md-0 mt-2" (click)="openURL('MSA Garment')">
          <div class="number-box p-3"><span
            class="msa-primary-info">{{garment_avg_disclosure_rate | numFormat}}</span><span class="highlighted-number">/15</span>
            <h5>Garment</h5> <h5>Sector</h5>
          </div>
        </div>
        <div class="col-md-4 mt-md-0 mt-2" (click)="openURL('MSA Financial')">
          <div class="number-box p-3"><span
            class="msa-primary-info">{{financial_avg_disclosure_rate | numFormat}}</span><span class="highlighted-number">/15</span>
            <h5>Financial</h5> <h5>Sector</h5>
          </div>
        </div>
        <div class="col-md-4 mt-md-0 mt-2" (click)="openURL('MSA Hospitality')">
          <div class="number-box p-3"><span
            class="msa-primary-info">{{hospitality_avg_disclosure_rate | numFormat}}</span><span class="highlighted-number">/15</span>
            <h5>Hospitality</h5> <h5>Sector</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-bottom p-1 pe-4 pb-4">
    <export-as [sector]="'all-sectors'" [section]="'sector-disclosure-rates'"
               [elementId]="'disclosure-rates'" [ngClass]="!isLoading ? 'show-element': 'hide-element'"></export-as>
  </div>
</div>
