<div class="section mt-5 bg-neutral-grey p-4">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">Disclosure Rates</h3>
    </div>
    <div class="col-md-4">
      <select class="msa-form-select ms-md-auto bg-neutral-grey" aria-label="Minimum requirements year filter"
              style="max-width: 120px; max-height: 50px; font-size: 0.8em" [(ngModel)]="year" (change)="updateDisclosureRates()">
        <option [ngValue]="''" selected>all years</option>
        <option [ngValue]="'latest'">latest</option>
        <option [ngValue]="2021">2021</option>
        <option [ngValue]="2020">2020</option>
        <option [ngValue]="2019">2019</option>
        <option [ngValue]="2018">2018</option>
        <option [ngValue]="2017">2017</option>
        <option [ngValue]="2016">2016</option>
        <option [ngValue]="2015">2015</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Average number of measures and actions reported by companies in their modern slavery statements.</p>
    </div>
  </div>
  <div class="row mt-3" style="height: 150px" *ngIf="isLoading">
    <div class="col-12 text-center align-self-center">
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <!--  <hr class="deep-blue no-margin">-->
  <div class="disclosure-rates" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
    <div class="row align-middle p-3">
      <div class="col-3">
        <div class="msa-primary-info-md"><span class="highlighted-number">{{garment_avg_disclosure_rate}}</span>/15
        </div>
      </div>
      <div class="col-6">
        <div class="msa-primary-info-md">Garment Industry</div>
      </div>
      <div class="col-3 text-center">
        <a class="button transparent-button mt-md-0 mt-3">More</a>
      </div>
    </div>
    <div class="row align-middle p-3">
      <div class="col-3 ">
        <div class="msa-primary-info-md"><span class="highlighted-number">{{financial_avg_disclosure_rate}}</span>/15
        </div>
      </div>
      <div class="col-6">
        <div class="msa-primary-info-md">Finance Industry</div>
      </div>
      <div class="col-3 text-center">
        <a class="button transparent-button mt-md-0 mt-3">More</a>
      </div>
    </div>
    <div class="row align-middle p-3">
      <div class="col-3">
        <div class="msa-primary-info-md"><span class="highlighted-number">{{hospitality_avg_disclosure_rate}}</span>/15
        </div>
      </div>
      <div class="col-6">
        <div class="msa-primary-info-md">Hospitality Industry</div>
      </div>
      <div class="col-3 text-center">
        <a class="button transparent-button mt-md-0 mt-3">More</a>
      </div>
    </div>
  </div>
</div>
