<div class="section mt-5 bg-neutral-orange p-4">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">Beyond Compliance Disclosure Rates</h3>
    </div>
    <div class="col-md-4">
      <select class="msa-form-select ms-md-auto bg-neutral-orange" aria-label="Minimum requirements year filter"
              style="max-width: 120px; max-height: 50px; font-size: 0.8em" [(ngModel)]="year"
              (change)="updateDisclosureRates()">
        <option [ngValue]="''" selected>all years</option>
        <option [ngValue]="'latest'">latest</option>
        <option [ngValue]="2021">2021</option>
        <option [ngValue]="2020">2020</option>
        <option [ngValue]="2019">2019</option>
        <option [ngValue]="2018">2018</option>
        <option [ngValue]="2017">2017</option>
        <option [ngValue]="2016">2016</option>
        <option [ngValue]="2015">2015</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Average number of measures and actions reported by companies in their modern slavery statements.</p>
    </div>
  </div>
  <div class="row mt-3" style="height: 150px" *ngIf="isLoading">
    <div class="col-12 text-center align-self-center">
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <!--  <hr class="deep-blue no-margin">-->
  <div class="disclosure-rates" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
    <div class="row justify-content-center">
      <div class="number-box m-md-3 m-1" (click)="openURL('MSA Garment')">
        <div class="msa-primary-info-md"><span
          class="highlighted-number-lg">{{garment_avg_disclosure_rate | numFormat}}</span>/15
          <h5>Garment Industry</h5>
        </div>
      </div>
      <div class="number-box m-md-3 m-1" (click)="openURL('MSA Financial')">
        <div class="msa-primary-info-md"><span
          class="highlighted-number-lg">{{financial_avg_disclosure_rate | numFormat}}</span>/15
          <h5>Financial Industry</h5>
        </div>
      </div>
      <div class="number-box m-md-3 m-1" (click)="openURL('MSA Hospitality')">
        <div class="msa-primary-info-md"><span
          class="highlighted-number-lg">{{hospitality_avg_disclosure_rate | numFormat}}</span>/15
          <h5>Hospitality Industry</h5>
        </div>
      </div>
    </div>
  </div>
</div>
