<div class="section mt-5 bg-neutral-orange p-4">
  <div class="row">
    <div class="col-md-6">
      <h3 class="title">Treepmap</h3>
    </div>
    <div class="col-md-6 ms-md-auto">
      <div class="row ps-3 pe-3 pt-md-0 pt-2">
        <select class="msa-form-select bg-neutral-orange ms-md-auto me-3" aria-label="Default select example"
                style="max-width: 100px; max-height: 50px; font-size: 0.8em" [(ngModel)]="year" (change)="updateData()">
          <option [ngValue]="'latest'" selected>latest</option>
          <option [ngValue]="2021">2021</option>
          <option [ngValue]="2020">2020</option>
          <option [ngValue]="2019">2019</option>
          <!--        <option [ngValue]="2018">2018</option>-->
          <!--        <option [ngValue]="2017">2017</option>-->
          <!--        <option [ngValue]="2016">2016</option>-->
        </select>
        <select class="msa-form-select bg-neutral-orange" aria-label="Default select example"
                [(ngModel)]="legislation" (change)="updateData()">
          <option [ngValue]="'both'" selected>Legislation</option>
          <option [ngValue]="'uk'">UK MSA</option>
          <option [ngValue]="'aus'">AUS MSA</option>
        </select>
      </div>
    </div>
  </div>
<!--  <hr class="deep-blue">-->
</div>
