<div class="container">
  <div class="section">
    <h1 class="title mt-5">
      Who we are
    </h1>
    <div class="subtitle mt-3">Modern slavery represents a tragic market failure, where some companies maintain
      competitive
      advantage and large profits through unethical and unsustainable business practices that rely on the exploitation
      of workers.
    </div>
  </div>
  <div class="section row">
    <div class="col-md-7 bg-neutral-orange p-3">
      <h3>Coming Together</h3>
      <div class="content">
        <p>
          In 2020, Walk Free, WikiRate, and the Business & Human Rights Resource Centre assessed the statements produced
          by 79 asset managers identified as having to report under the MSA. These statements were assessed against:
        </p>
        <ul>
          <li>minimum compliance requirements as set forth under Section 54,</li>
          <li>metrics derived from the Home Office statutory reporting guidance accompanying the Act, and</li>
          <li>metrics used to assess whether asset managers are considering modern slavery risks in their investment
            portfolios.
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-4 bg-neutral-grey ms-md-3 p-3 mt-3 mt-md-0">
      <h3>Another Title</h3>
      <div class="content">
        <p>
          In 2020, Walk Free, WikiRate, and the Business & Human Rights Resource Centre assessed the statements produced
          by 79 asset managers identified as having to report under the MSA. These statements were assessed against:
        </p>
      </div>
    </div>
  </div>
</div>
