<div class="container">
  <p><i>This tool shines a light on business reporting under modern slavery legislation. Only with transparency can we
    understand how legislation is affecting business practice, hold non-compliance to account and improve industry
    standards. Promoting respect for human rights and labour standards is crucial to build a more sustainable and
    resilient global economy - join us in our efforts!</i></p>
</div>
<div class="container">
  <div class="row mt-2 mb-4">
    <div class="col-lg-4 mb-lg-0 mb-3 no-padding pe-lg-2 content-box">
      <div class="bg-yellow p-4 fit-height">
        <div class="call-to-action-title mb-2">Take Action</div>
        <h5 class="mb-3">Policy maker</h5>
        <ul class="no-margin">
          <li>Assess how companies are responding to MSA legislation across sectors</li>
          <li>Find reporting gaps and assess how these could be improved through strengthened legislation</li>
          <li>Use these findings to advocate for improved MSA legislation</li>
          <li>Implement financial penalties for non-compliance with the MSAs</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4  mb-lg-0 mb-3 no-padding ps-lg-2 pe-lg-2 content-box">
      <div class="bg-yellow p-4 pb-2 fit-height">
        <div class="call-to-action-title mb-2">Take Action</div>
        <h5 class="mb-3">Company reporting under MSA</h5>
        <ul>
          <li>Assess how peers are performing under MSA legislations and identify better practice</li>
          <li>Address reporting gaps that exist at your company</li>
          <li>Use the beyond compliance metrics to define due diligence and reporting targets</li>
          <li>Share findings with industry initiatives, to encourage better engagement with MSA legislations</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 no-padding ps-lg-2 content-box">
      <div class="bg-yellow p-4 fit-height">
        <div class="call-to-action-title mb-2">Take Action</div>
        <h5 class="mb-3">Activist</h5>
        <ul>
          <li>Share findings on social media to highlight where companies can do more
          </li>
          <li>Spread the word! Share the dashboard so that others can engage too</li>
          <li> Join the MSA research on the <a href="https://wikirate.org/MSA_Beyond_Compliance_Research">WikiRate
            platform</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <p>
          Under the 2015 MSA, the UK government requires all companies with an annual turnover of GB£36 million or more
          to release yearly statements on the actions they are taking to tackle modern slavery in their direct
          operations and supply chains. The 2018 Australian MSA similarly establishes a national Modern Slavery
          Reporting Requirement, which applies to entities in the Australian market with an annual consolidated revenue
          of at least AU$100 million.
        </p>
        <p>
          In 2016, when the first companies started publishing their UK Modern Slavery Act statements, Walk Free and
          WikiRate partnered to set up a research project that could assess their contents; were companies approaching
          it as another tick box exercise or were they going beyond compliance?
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section bg-neutral-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 p-3 pt-4 pb-4">
        <h3 class="mb-3">Methodology</h3>
        <p>
          Drawing on Walk Free's knowledge of modern slavery due diligence and the Home Office Guidance accompanying the
          UK Act, the partnership developed a <span style="font-weight: bold">set of 16 standardized metrics</span><span
          class="tooltip-item ps-1 pe-1"><i class="bi bi-info-circle-fill" placement="top" tooltipHtml="true"
                                            [ngbPopover]="standardized_metrics_details"></i></span>
          to assess the content of the statements.
        </p>
        <p>The following overview shows how both the UK and Australian legislation guidance and requirements map to the
          projects' standardized metrics.</p>
        <div class="content collapse" id="methodology">
          <table class="table table-responsive-md table-bordered border-light">
            <thead class="thead-dark">
            <tr>
              <th scope="col-3" colspan="2">Walk Free metrics on WikiRate platform</th>
              <th scope="col-3"><a
                href="https://www.gov.uk/government/publications/transparency-in-supply-chains-a-practical-guide">UK MSA
                Requirements & Guidance</a></th>
              <th scope="col-3"><a href="https://modernslaveryregister.gov.au/resources/">Australia MSA Requirements</a>
              </th>
            </tr>
            <tr>
              <th scope="col-2">Metric</th>
              <th scope="col-4">Description</th>
              <th scope="col-3">Requirements & Guidance</th>
              <th scope="col-3">Requirements & Criterion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of table">
              <td class="col-2"><a class="link-info" href="{{item['url']}}" target="_blank">{{item['metric']}}</a></td>
              <td class="col-4">{{item['description']}}</td>
              <td class="col-3"
                  [ngClass]="(item['requirements_guidance_color'] === 'red') ? 'td-bg-color-red' : 'td-bg-color-yellow'">{{item['requirements_guidance']}}</td>
              <td class="col-3"
                  [ngClass]="(item['requirements_criterion_color'] === 'red') ? 'td-bg-color-red' : 'td-bg-color-yellow'">{{item['requirements_criterion']}}</td>
            </tr>
            </tbody>
          </table>
          <div class="row ms-2">
            <div class="row p-1 justify-content-end">
              <div class="col-auto no-padding">Mandatory</div>
              <div class="col-auto">
                <div class="legend-box td-bg-color-red"></div>
              </div>
            </div>
            <div class="row p-1  justify-content-end">
              <div class="col-auto no-padding">Not Mandatory</div>
              <div class="col-auto">
                <div class="legend-box td-bg-color-yellow"></div>
              </div>
            </div>
          </div>
        </div>
        <a id="show-more" class="show-more collapsed" data-bs-toggle="collapse" href="#methodology" role="button"
           aria-expanded="false"
           aria-controls="methodology"></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-lg-12 p-3">
        <h3 class="mb-3">Collaborative Research</h3>
        <div class="content">
          <p>On the WikiRate platform anyone interested can take part in research efforts that gather data about the
            actions and impacts of companies on people and planet. The data displayed in this dashboard is collected
            through the Modern Slavery Act research project. It is organized by Walk Free and WikiRate but the research
            is conducted by a much broader community of passionate researchers including volunteers, University
            students, and experts from around the world. As the research is ongoing, this is a dynamic dashboard that
            updates as and when new data is contributed to the WikiRate platform.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-lg-0 mb-3 no-padding pe-lg-2">
        <div class="bg-deep-blue p-4 fit-height">
          <div class="call-to-action-title mb-2">Take Action</div>
          <h5 class="mb-3">Join the Research</h5>
          <p>Contribute to MSA research via the WikiRate platform</p>
          <a class="button white-button mt-lg-3 mt-3"
             href="https://wikirate.org/Research_UK_Modern_Slavery_Act_Research" target="_blank">Learn More</a>
        </div>
      </div>
      <div class="col-lg-6 no-padding ps-lg-2">
        <div class="bg-deep-blue p-4 fit-height">
          <div class="call-to-action-title mb-2">Take Action</div>
          <h5 class="mb-3">Data Verification</h5>
          <p>Help improve the data and join the ongoing verification effort</p>
          <a class="button white-button mt-lg-3 mt-3"
             href="https://wikirate.org/Add_Answers#edit_an_answer" target="_blank">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-neutral-blue" id="sector_focus" data-bs-spy="scroll" data-bs-target="#action" data-offset="150"
     tabindex="0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 p-3 pt-4 pb-4">
        <h3 class="mb-3">Sector Focus</h3>
        <p>
          Over the years Walk Free has analyzed and published subsets of the data collected through the Modern Slavery
          Act Research project on WikiRate. Since 2019 these case studies have had a sector specific focus, which so
          far have included:
        </p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-lg-4">
        <div class="p-2">
          <h5>Hotels</h5>
          <div class="row pt-3 pb-3">
            <div class="col-12">
              <a href="https://cdn.minderoo.com.au/content/uploads/2019/11/20161202/2632_MSA-statements.V8_FNL.pdf"
                 target="_blank"><img src="assets/img/hotel-sector-screenshot.jpg" height="241.2" width="169.8"></a>
            </div>
          </div>
          <div class="note mb-3">Note: The hotel sector is a subset of the hospitality sector. The latter also
            includes
            consumer services
            such
            as restaurants, recreation, and tourism. This broader category is the sector filter you can apply to the
            data
            in this dashboard.
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-2">
          <h5>Asset Managers</h5>
          <div class="row pt-3 pb-3">
            <div class="col-12">
              <a
                href="https://cdn.walkfree.org/content/uploads/2021/03/18184928/WalkFree_BeyondComplianceInTheFinanceSector_210318.pdf"
                target="_blank"><img src="assets/img/finance-sector-report.jpg" height="241.2" width="169.8"></a>
            </div>
          </div>
          <div class="note mb-3">Note: Asset managers are a subset of the finance sector. The latter also includes
            banks,
            pension funds, insurance, real estate and financial service providers. This broader category is the sector
            filter you can apply to the data in this dashboard.
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-2">
          <h5>Garment</h5>
          <div class="row pt-3 pb-3">
            <div class="col-12">
              <a
                href="https://cdn.walkfree.org/content/uploads/2022/02/22150956/Walk-Free-Beyond-Compliance-Garment-Industry.pdf"
                target="_blank"><img src="assets/img/garment-sector-report.jpg" height="241.2" width="169.8"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <app-subscribe></app-subscribe>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-lg-12 p-3">
        <h3 class="mb-3">Research Contributors</h3>
        <p>This research was performed with the contribution of the following organizations</p>
        <div class="slider mt-3">
          <div class="slide-track">
            <div class="slide" *ngFor="let contributor of contributors let i = index">
              <div class="row col-12 justify-content-center">
                <div class="image-box d-flex justify-content-center align-items-center m-2">
                  <img src="{{contributor.logo}}"
                       alt="{{contributor.contributor}}"/>
                </div>
                <div class="contributor-name m3 text-center">
                  {{contributor.contributor}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #standardized_metrics_details>
  <p>As the project progressed 3 more standardized metrics have been added. One resulting from the Australian Modern
    Slavery Act requirements assessing “Consultation process” (see table below) and two looking at best practices
    such as companies <a href="https://wikirate.org/Walk_Free+MSA_historic_record" target="_blank">providing a
      historic
      record of previous statements</a> on their
    website, and making explicit <a href="https://wikirate.org/Walk_Free+MSA_Impact_on_Company_Behaviour"
                                    target="_blank">how the legislation impacted company behavior.</a></p>
</ng-template>
