<div class="section mt-5 bg-neutral-orange p-4">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">Further Findings</h3>
    </div>
  </div>

  <div class="row dive-deeper mt-3">
    <div class="col-md-12">
      <div class="accordion" id="approach_to_policies">
        <div class="accordion-item">
          <h2 class="accordion-header" id="approachToPoliciesTitle">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#approach-to-policies-alt-one" aria-expanded="false" aria-controls="collapseThree">
              <h4>Policies</h4>
            </button>
          </h2>
          <div id="approach-to-policies-alt-one" class="accordion-collapse collapse"
               aria-labelledby="approachToPoliciesTitle"
               data-bs-parent="#approach_to_policies">
            <div class="accordion-body">
              <approach-to-policies-alt-one [sector]="this.sector"></approach-to-policies-alt-one>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dive-deeper mt-3">
    <div class="col-md-12">
      <div class="accordion" id="approach_to_risks_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ApproachToRisks" aria-expanded="false" aria-controls="collapseThree">
              <h4>Risks</h4>
            </button>
          </h2>
          <div id="ApproachToRisks" class="accordion-collapse collapse" aria-labelledby="headingThree"
               data-bs-parent="#approach_to_risks_accordion">
            <div class="accordion-body">
              <approach-to-risks-alt-one [sector]="this.sector"></approach-to-risks-alt-one>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dive-deeper mt-3">
    <div class="col-md-12">
      <div class="accordion" id="approach_to_incidents">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingApproachToIncidents">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseApproachToIncidents-alt-one" aria-expanded="false"
                    aria-controls="collapseApproachToIncidents">
              <h4>Incidents</h4>
            </button>
          </h2>
          <div id="collapseApproachToIncidents-alt-one" class="accordion-collapse collapse"
               aria-labelledby="headingApproachToIncidents" data-bs-parent="#approach_to_incidents">
            <div class="accordion-body">
              <approach-to-incidents-alt-one [sector]="this.sector"></approach-to-incidents-alt-one>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
