<div class="row mt-3" style="height: 150px" *ngIf="isLoading">
  <div class="col-12 text-center align-self-center">
    <div class="spinner-grow text-warning bg-deep-blue" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="row justify-content-md-center" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
  <div class="col-md-12">
    <div class="row">
      <h5><a
        [href]="'https://wikirate.org/Walk_Free+MSA_whistleblowing_mechanism_revised?tab=metric_answer&'+this.params"
        target="_blank">GRIEVANCE MECHANISMS</a></h5>
      <p>provided to increase likelihood of incidents being reported</p>
    </div>
    <div class="row text-center pt-2">
      <div id="whistleblowing-mechanisms-alt-two" class="chart-wrapper">
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-4">
    <div class="row">
      <h5><a
        [href]="'https://wikirate.org/Walk_Free+MSA_incidents_remediation_revised?tab=metric_answer&'+this.params"
        target="_blank">REMEDIATION STRATEGY</a></h5>
      <p>deployed when specific incidents are identified</p>
    </div>
    <div class="row text-center pt-2">
      <div id="incident-remediation-alt-two" class="chart-wrapper">
      </div>
    </div>
  </div>
</div>
