<div class="container">
    <div id="highlighted-metric-section" class="bg-grey p-4 mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-6 ">
                <h3 class="title">Underreporting of cases of exploitation</h3>
                <h6 class="fst-italic" *ngIf="sector !== 'all-sectors'">{{getSectorName()}} Sector</h6>
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="row ps-3 pe-3 pt-md-0 pt-3">
                    <select #select class="msa-form-select bg-grey ms-md-auto me-3 mb-md-0 mb-1"
                        aria-label="Default select example" style="max-width: 120px; max-height: 50px; font-size: 0.8em"
                        [(ngModel)]="year" (ngModelChange)="select.value = updateData($event)">
                        <option value="" selected>ALL YEARS</option>
                        <option value="latest">LATEST</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
                    <select class="msa-form-select bg-grey" aria-label="Default select example"
                        [(ngModel)]="legislation" (change)="updateData($event)">
                        <option [ngValue]="'both'" selected>LEGISLATION</option>
                        <option [ngValue]="'uk'">UK MSA</option>
                        <option [ngValue]="'aus'">AUS MSA</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="height: 150px" *ngIf="isLoading">
            <div class="col-12 text-center align-self-center">
                <div class="spinner-grow text-warning bg-deep-blue" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="incidents-identified" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
            <div class="row mt-4 d-flex justify-content-center">
                <div class="col-12">
                    <p class="col-lg-10 col-md-12 fst-italic fs-5">Millions of modern slavery victims go undetected.
                        While
                        an estimated <b>28 million people</b> are
                        <b>in
                            forced labour globally</b>, only {{incidents | percentageFormat}} of companies we've
                        assessed
                        report finding incidents in their
                        supply chains. This stark gap reveals a critical need for better reporting and transparency.
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center justify-items-center pt-1">
                    <div id="incidents-chart" class="chart-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h5 class="modal-title">The Australian Modern Slavery Act</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>The Australian Modern Slavery Act was passed in 2018 and required companies to produce their first
                statement
                for
                financial year 2019. These needed to be submitted within 3 months after year's end (in 2020) but for
                this first
                year the government provided companies with an extension due to the impact of the covid pandemic. As a
                result,
                most companies submitted statements under the Australian Act from the financial year 2020 onward.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
    <div class="section-bottom bg-grey pe-4 pb-4">
        <export-as [sector]="sector" [section]="'highlight-metric'" [elementId]="'highlighted-metric-section'"
            [button_class]="'btn-deep-blue'" [ngClass]="!isLoading ? 'show-element': 'hide-element'"></export-as>
    </div>
</div>