<div class="row mt-3" style="height: 150px" *ngIf="isLoading">
  <div class="col-12 text-center align-self-center">
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="row" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
  <div class="col-md-6">
    <div class="row">
      <h5>MODERN SLAVERY TRAINING</h5>
      <p>provided to increase chances of staff identifying incidents and avoiding practices that increase chances of
        incidents occuring
      </p>
    </div>
    <div class="row text-center pt-2">
      <div id="training" class="chart-wrapper">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h5>GRIEVANCE MECHANISMS</h5>
      <p>provided to increase likelihood of incidents being reported</p>
    </div>
    <div class="row text-center pt-2">
      <div id="whistleblowing-mechanisms" class="chart-wrapper">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
  <div class="col-md-6">
    <div class="row text-md-center">
      <h5>REMEDIATION STRATEGY</h5>
      <p>deployed when specific incidents are identified</p>
    </div>
    <div class="row text-center pt-2">
      <div id="incident-remediation" class="chart-wrapper">
      </div>
    </div>
  </div>
</div>
