.intro-all-sectors{
  background-image: url("/assets/img/background-image-3.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.intro-garment-sector{
  background-image: url("/assets/img/garment-sector.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.intro-electronics{
  background-image: url("/assets/img/risk_management.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.intro-financial-sector{
  background-image: url("/assets/img/background-image-3.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.intro-food-and-beverage{
  background-image: url("/assets/img/living_wage.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.intro-renewable-energy {
  background-image: url("/assets/img/worker_engagement.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.intro-hospitality-sector{
  background-image: url("/assets/img/hotel-sector.jpg") !important;
  background-position: center center;
  background-size: cover;
  width: 100%;
}