<div class="intro">
  <div class="container p-5">
    <div class="row justify-content-end pt-3 pb-3">
      <div class="col-md-7 bg-neutral-orange p-4">
        <h1 class="title">Beyond Compliance</h1>
        <div class="subtitle mt-4">
          A living data dashboard assessing modern slavery reporting across business sectors.
        </div>
        <div class="mt-4 mb-1" *ngIf="page === 'dashboard'">
          <a class="button orange-button mb-2" type="button" routerLink="about">
            <!--       href="{{'https://wikirate.org/MSA_Beyond_Compliance_Research?filter[company_group]='+company_group}}"-->

            Take Action</a>
          <a class="button transparent-button mt-md-0 mt-3"
             href="{{'https://wikirate.org/MSA_Beyond_Compliance_Dashboard?filter[company_group]='+company_group}}"
             target="_blank">Download Dataset</a>
        </div>
      </div>
    </div>
  </div>
</div>
