<div class="row mt-3" style="height: 150px" *ngIf="isLoading">
  <div class="col-12 text-center align-self-center">
    <div class="spinner-grow text-warning bg-deep-blue" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="row" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
  <div class="col-md-12">
    <div class="row">
      <h5><a
        [href]="'https://wikirate.org/Walk_Free+MSA_training_revised?tab=metric_answer&'+this.params"
        target="_blank">MODERN SLAVERY TRAINING</a>
      </h5>
      <p>provided to increase chances of staff identifying incidents and avoiding practices that increase chances of
        incidents occurring
      </p>
    </div>
    <div class="row text-center pt-2">
      <div id="training-alt-two" class="chart-wrapper">
      </div>
    </div>
  </div>
</div>
<div class="row" [ngClass]="!isLoading ? 'show-element': 'hide-element'">
  <div class="col-md-12 mt-4">
    <div class="row">
      <h5><a
        [href]="'https://wikirate.org/Walk_Free+MSA_Policy_grouped?tab=metric_answer&'+this.params"
        target="_blank">MODERN SLAVERY SUPPLY CHAIN
        POLICIES</a></h5>
      <p>specifying practices thas should be adhered to be avoid exploitation</p>
    </div>
    <div class="row text-center pt-2">
      <div id="modern-slavery-supply-chain-policies-alt-two" class="chart-wrapper">
      </div>
    </div>
  </div>
</div>
