<div id="subscribe" class="section mt-2 bg-white p-4">

  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-11">
      <span class="d-block mt-3 text-center">Subscribe to receive updates on dashboard data and our upcoming research and advocacy related to Modern Slavery</span>

      <div class="mx-5 mt-3">
        <div>
          <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description="
                method="post"
                data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1A12EE3E2054BC84C8727F8FF869E2E4F56850AC318310431E4639179F5B6D1E489B5EC432E8407D7ECF9927E19D0AEA55">
            <div>
              <div><label class="form-label">Email </label><input autocomplete="Email" aria-label="Email"
                                                                  class="js-cm-email-input qa-input-email form-control"
                                                                  id="fieldEmail" maxlength="200"
                                                                  name="cm-jktrulk-jktrulk" required="" type="email">
              </div>
              <div><label class="form-label mt-2">First Name </label><input aria-label="First Name" id="fieldjkdllhj"
                                                                            maxlength="200"
                                                                            name="cm-f-jkdllhj" class="form-control">
              </div>
              <div><label class="form-label mt-2">Last Name </label><input aria-label="Last Name" id="fieldjkdllht" maxlength="200"
                                                   name="cm-f-jkdllht" class="form-control"></div>
              <div><label class="form-label mt-2">Organisation </label><input aria-label="Organisation" id="fieldjkujjky" maxlength="200"
                                                      name="cm-f-jkujjky" class="form-control"></div>
              <div>
                <div>
                  <div>
                    <div class="form-check mt-1"><input class="form-check-input" aria-required="" id="cm-privacy-consent" name="cm-privacy-consent" required=""
                                type="checkbox"><label class="form-check-label" for="cm-privacy-consent">Yes, I want to receive occasional
                      updates from Walk Free</label></div>
                    <input id="cm-privacy-consent-hidden" name="cm-privacy-consent-hidden" type="hidden" value="true">
                  </div>
                </div>
                <p><a class="small" href="https://www.walkfree.org/privacy-policy/" rel="noopener" target="_blank">View our privacy
                  policy</a></p></div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <button class="button orange-button mb-2" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
