<div class="row">
  <div class="col-md-12 ms-md-auto text-end">
    <a class="button-sm {{button_class}} me-2 ms-md-auto" (click)="export()" [ngClass]="waiting ? 'waiting': ''">export as
      png</a>
    <a class="button-sm ms-md-auto {{button_class}}" type="button" id="share" data-bs-toggle="dropdown"
       aria-expanded="false">share</a>
    <ul class="dropdown-menu" aria-labelledby="share">
      <li><a class="dropdown-item" target="_blank" type="button" ngxClipboard
             [cbContent]="'https://beyondcompliance.wikirate.org/dashboard/'+section+'/'+sector"><i
        class="bi bi-link-45deg ms-2 me-2"></i>copy link</a></li>
      <li><a class="dropdown-item" (click)="openModal()" type="button"><i
        class="bi bi-code-square ms-2 me-2"></i>embed</a></li>
      <li><a class="dropdown-item" target="_blank"
             [href]="'https://www.facebook.com/sharer/sharer.php?u=https://beyondcompliance.wikirate.org/dashboard/'+section+'/'+sector"><i
        class="bi bi-facebook ms-2 me-2"></i>facebook</a></li>
      <li><a class="dropdown-item" target="_blank"
             [href]="'https://twitter.com/intent/tweet?url=https://beyondcompliance.wikirate.org/dashboard/'+section+'/'+sector"><i
        class="bi bi-twitter ms-2 me-2"></i>twitter</a></li>
      <li><a class="dropdown-item" target="_blank"
             [href]="'https://www.linkedin.com/shareArticle?mini=true&url=https://beyondcompliance.wikirate.org/dashboard/'+section+'/'+sector"><i
        class="bi bi-linkedin ms-2 me-2"></i>linkedin</a></li>
      <li><a class="dropdown-item" target="_blank"
             [href]="'mailto:info@example.com?&subject=&cc=&bcc=&body=https://beyondcompliance.wikirate.org/dashboard/'+section+'/'+sector"><i
        class="bi bi-envelope-fill ms-2 me-2"></i>mail</a></li>
    </ul>
  </div>
</div>
<ng-template #embed let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Embed Section</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <pre #code>&lt;iframe src="https://beyondcompliance.wikirate.org/dashboard/{{section}}/{{sector}}
      ?view=embed" width="100%" height="100%" frameborder="0"&gt;&lt;/iframe&gt;</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" ngxClipboard
            [cbContent]="src_content" (cbOnSuccess)="modal.close()">Copy
    </button>
  </div>
</ng-template>
