<div class="container">
  <introductory-section [sector]="sector"></introductory-section>
  <key-findings-section [sector]="sector"></key-findings-section>
  <treemap [sector]="sector"></treemap>
  <minimum-requirements-section [sector]="sector"></minimum-requirements-section>
  <going-beyond-compliance [sector]="sector"></going-beyond-compliance>
  <disclosure-rates></disclosure-rates>
  <further-findings [sector]="sector"></further-findings>
  <further-findings-alt-one [sector]="sector"></further-findings-alt-one>
  <further-findings-alt-two [sector]="sector"></further-findings-alt-two>
</div>
