@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap";
@import '~bootstrap/scss/bootstrap';
//Colors
$deep_blue: #000028;
$white: #FFFFFF;
$yellow: #ffdc00;
$orange: #ff9300;
$red: #FE0000;
$blue: #0037f1;
$neutral_orange: #ffefd9; //rgb(254, 239, 221);
$neutral_grey: #F6F5EA;
$neutral_blue: #DDDDE3;
$light-orange: rgb(255, 147, 0, 0.3);

//Typography
@font-face {
  font-family: "MediaSans";
  src: local("mediasans"), url(./assets/fonts/mediasans.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "MediaSans";
  src: local("mediasan-black"), url(./assets/fonts/mediasans-black.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-Book"), url(./assets/fonts/GothamNarrow-Book.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-Bold"), url(./assets/fonts/GothamNarrow-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-MediumItalic"), url(./assets/fonts/GothamNarrow-MediumItalic.otf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-Bold"), url(./assets/fonts/GothamNarrow-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "TiemposText";
  src: local("TiemposText-Regular"), url(./assets/fonts/TiemposText-Regular.otf) format("truetype");
}

@font-face {
  font-family: "TiemposText";
  src: local("TiemposText-RegularItalic"), url(./assets/fonts/TiemposText-RegularItalic.otf) format("truetype");
  font-style: italic;
}

//style of different sections
body {
  font-family: GothamNarrow, sans-serif !important;
  color: $deep_blue !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  margin: 0 !important;
}

a {
  color: $deep_blue !important;
}

a:focus, a:hover {
  color: $blue !important;
}

table a {
  color: $deep_blue !important;
  text-decoration: none !important;
}

table a:focus, a:hover {
  color: $blue !important;
}

.clickable-header:hover {
  color: $blue !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

th.active {
  color: $blue !important;
}

.table {
  color: $white !important;
}

.table tr {
  color: $deep_blue !important;
  font-size: 0.9em !important;
}

.table > :not(caption) > * > * {
  padding-top: 0.32rem !important;
  padding-bottom: 0.32rem !important;
}

.table .clickable:hover {
  cursor: pointer !important;
  font-weight: bold !important;
}

.methodology-table.table-bordered {
  color: $white !important;
}

.methodology-table.table-bordered tr {
  color: $white !important;
  font-size: 0.9em !important;
}

.methodology-table.table-bordered tr a {
  color: $white !important;
}

p {
  font-size: 1.1em !important;
}

h1.title {
  font-family: MediaSans !important;
  font-size: 4em !important;
  text-transform: uppercase !important;
  line-height: 1.1 !important;
}

@media screen and (max-width: 576px) {
  h1.title {
    font-size: 2.6em !important;
    word-wrap: break-word !important;
  }
}

h3 {
  font-family: MediaSans !important;
  text-transform: uppercase !important;
  color: $deep_blue !important;
}

h4 {
  font-family: MediaSans !important;
  text-transform: uppercase !important;
  color: $deep_blue !important;
}

h5 {
  font-family: MediaSans !important;
  text-transform: uppercase !important;
}

.subtitle {
  font-family: TiemposText !important;
  font-size: 1.7em !important;
  font-weight: 300 !important;
}

@media screen and (max-width: 500px) {
  .subtitle {
    font-size: 1.4em !important;
  }
}

.quote {
  font-family: TiemposText !important;
  font-style: italic !important;
  font-size: 1em !important;
}

.note {
  font-family: TiemposText !important;
  font-style: italic !important;
  font-size: 0.7em !important;
}

a.button {
  border: 0 !important;
  padding: 1em 2.4em 1em 1.2em !important;
  font-family: MediaSans !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  display: inline-block !important;
  text-decoration: none !important;
  color: #000028 !important;
  position: relative !important;
  cursor: pointer !important;

}

a.transparent-button {
  color: $deep_blue !important;
  border: 1px solid $deep_blue !important;
  border-width: 1px !important;
}

a.transparent-button:hover {
  background-color: $deep_blue !important;
  color: $white !important;
}

a.white-button {
  color: $white !important;
  border: 1px solid $white !important;
  border-width: 1px !important;
}

a.white-button:hover {
  background-color: $white !important;
  color: $deep_blue !important;
}

a.orange-button {
  background: $orange;
  margin-right: 1em;
  border: 1px solid $orange;
  border-width: 1px;
}

a.orange-button:hover {
  background: $yellow;
  border: 1px solid $yellow;
  border-width: 1px;
}

a.button::after {
  color: $blue;
  content: "\f054";
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  top: calc(50% - 10px);
  right: 0.75em;
}

//different backgrounds

.bg-neutral-orange {
  background-color: $neutral_orange !important;
}

.bg-neutral-grey {
  background-color: $neutral_grey !important;
}

.bg-neutral-blue {
  background-color: $neutral_blue !important;
}

.bg-deep-blue {
  background-color: $deep_blue !important;
  color: $white;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-light-orange {
  background-color: $light-orange !important;
}

.bg-white {
  background-color: $white !important;
}

//header
header-component img.logo {
  height: 55px !important;
}

header-component {
  width: 100% !important;
}

//navigation
.nav-link {
  color: $white !important;
  font-family: MediaSans !important;
}

.nav-link {
  color: $white !important;
}

.nav-link:hover {
  color: darken($white, 20%) !important;
}

button.nav-link {
  background-color: $deep_blue !important;
}

//footer
footer .logo {
  padding: 0 5% !important;
  text-align: center !important;
}

footer .logo-right {
  padding-right: 0 !important;
}

footer .logo-center {
  border: 2px solid $deep_blue !important;
  border-width: 0px 0px 0px 2px !important;
}

footer img {
  max-width: 100% !important;
  max-height: 70px !important;
}

footer .row {
  align-items: center !important;
}

//section
.section {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

//section
.section-top {
  margin-top: 1em !important;
}

.section-bottom {
  margin-bottom: 1em !important;
}

//filter
.filter-dropdown {
  float: right !important;
}

.filter-dropdown a.dropdown-toggle {
  border-radius: 0 !important;
  background: #FF9300 !important;
  border: 0 !important;
  font-size: 1em !important;
  padding: 0.8em 1.2em !important;
  font-family: MediaSans !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  display: inline-block !important;
  color: #000028 !important;
  margin: 0.4em 0 !important;

}

a.dropdown-toggle:hover {
  background: $yellow !important;
}

a.dropdown-toggle::after {
  color: $blue !important;
  margin-left: 10px !important;
}

.filter-dropdown ul.dropdown-menu {
  border: 0 !important;
  border-radius: 0 !important;
  color: $deep_blue !important;
  background: $neutral_grey !important;
  box-shadow: 0 0 0.5rem 0.25rem #BBBBBB !important;
}

.filter-dropdown a.dropdown-item {
  padding: 15px !important;
  display: flex !important;
  justify-content: space-between !important;
  font-family: MediaSans !important;
  text-transform: uppercase !important;
}

a.dropdown-item .count {
  padding-left: 1em !important;
}

.filter-dropdown .reset-item-li {
  display: none !important;
}

//define msa-form-select
.msa-form-select {
  @extend .form-select;
  font-family: 'GothamNarrow' !important;
  text-transform: uppercase !important;
  letter-spacing: 0.5px !important;
  /* font-weight: normal; */
  font-size: .9em !important;
  color: #000028 !important;
  max-width: 150px !important;
  height: 35px;

}

.msa-form-select:focus {
  border-color: $orange !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 147, 0, 0.6) !important;
  outline: 0 none !important;
}

.msa-form-select {
  border-radius: 0 !important;
  border-color: $deep_blue !important;
}

select.msa-form-select::after {
  color: $blue !important;
}

//deep-blue horizontal rule

hr.deep-blue {
  height: 1.5px !important;
  background-color: $deep_blue !important;
  border: none !important;
  opacity: 1;
}

//text decorations

.msa-primary-info {
  font-size: 3em;
  font-weight: 700;
  font-family: 'MediaSans';
}

.msa-primary-info-md {
  font-size: 2.3em;
  font-weight: 700;
  font-family: 'MediaSans';
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 576px) {
  .msa-primary-info-md {
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'MediaSans';
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.msa-secondary-info {
  text-transform: uppercase !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.chart-wrapper svg {
  max-width: 100% !important;
  height: auto !important;
}

.accordion-button {
  background-color: #FF9300 !important;
  padding: 1em !important;
  border-radius: 0em 1.5em 0em 1.5em !important;
}

.accordion-button:not(.collapsed) {
  background-color: #FF9300 !important;
  padding: 1em !important;
  border-radius: 0em 1.5em 0em 0em !important;
}

.accordion-button:hover {
  background-color: #FFDC00 !important;
}

.accordion-item {
  border-color: $deep_blue !important;
  border-radius: 0em 1.5em 0em 1.5em !important;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  color: #0037F1 !important;
  content: "\f107" !important;
  font-family: FontAwesome !important;
  background-image: none !important;
  height: auto !important;
  font-size: 2.5em !important;
  padding-right: 0.75em !important;
}

.accordion-button-text {
  color: #000028 !important;
  padding: 0 2% !important;
}

.accordion-collapse {
  padding: 2em 2% !important;
  background-color: $white !important;
  border: 0 !important;
  border-radius: 0em 1.5em 0em 1.5em !important;
}

.accordion-button-white {
  @extend accordion-button !optional;
  background-color: $deep_blue !important;
  color: $white;
  padding: 1em !important;
  border-radius: 0em 1.5em 0em 1.5em !important;
  border-color: $deep_blue;
}

.accordion-button-white:not(.collapsed) {
  @extend accordion-button !optional;
  background-color: $deep_blue !important;
  color: $white;
  padding: 1em !important;
  border-radius: 0em 1.5em 0em 0em !important;
  border-color: $deep_blue;
}

.accordion-button-white:hover {
  background-color: #FFDC00 !important;
  color: $deep_blue !important;
}

.accordion-button-white:not(.collapsed)::after,
.accordion-button-white::after {
  color: #0037F1 !important;
  content: "\f107" !important;
  font-family: FontAwesome !important;
  background-image: none !important;
  height: auto !important;
  font-size: 2.5em !important;
  padding-right: 0.75em !important;
}

.subsection-header h3 {
  background-color: #FFDC00 !important;
  color: #000028 !important;
  padding: 0.5em !important;
  margin: 1em 0 0.5em 0 !important;
}

a.anchor {
  display: block !important;
  position: relative !important;
  top: -100px !important;
  visibility: hidden !important;
}

.hide-element {
  display: none !important;
}

.highlighted-number {
  font-size: 1.7em !important;
  font-weight: 600 !important;
}

.highlighted-number-lg {
  font-size: 2em !important;
  font-weight: 600 !important;
}

.tooltip-item {
  font-weight: bold;
}

.tooltip-item:hover {
  color: $blue;
  cursor: pointer;
}

.popover-header {
  background-color: $neutral_grey !important;
}

.highlight-box {
  min-height: 150px;
  border-radius: 10px;
  border-width: 1px;
  border-color: $deep-blue !important;
}

.msa-primary-info-lg {
  font-size: 3.7em;
  font-weight: 700;
  font-family: 'MediaSans';
}

@media screen and (max-width: 576px) {
  .msa-primary-info-lg {
    font-size: 2.5em;
  }
}

p.accordion-paragraph {
  min-height: 80px !important;
}

@media screen and (max-width: 1400px) {
  p.accordion-paragraph {
    min-height: 110px !important;
  }
}

@media screen and (max-width: 1200px) {
  p.accordion-paragraph {
    min-height: 132px !important;
  }
}

@media screen and (max-width: 994px) {
  p.accordion-paragraph {
    min-height: 0px !important;
  }
}

.align-middle {
  /* vertical-align: middle!important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.number-box {
  border-radius: 0em 2em 0em 2em !important;
  background-color: $deep_blue;
  color: $white !important;
  padding: 0.5em;
  height: 220px !important;
  width: 220px !important;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .number-box {
    border-radius: 0em 1.5em 0em 1.5em !important;
    padding: 0.3em;
    height: 130px !important;
    width: 130px !important;
  }
}

.number-box:hover {
  background-color: $yellow;
  border-color: $deep_blue;
  color: $deep_blue !important;
}

h6 {
  font-family: MediaSans !important;
  text-transform: uppercase !important;
}

@media screen and (max-width: 576px) {
  h5 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .popover {
    transform: translate(0px, 273px) !important;
  }
  .popover-arrow {
    position: absolute !important;
    left: 0px !important;
    transform: translate(70px) !important;
  }
}

.td-bg-color-yellow {
  background-color: lighten($yellow, 45%) !important;
  color: $deep_blue;
}

.td-bg-color-red {
  background-color: lighten($red, 45%) !important;
  color: $deep_blue;
}

.blue-title {
  color: $blue !important;
}

.text-deep-blue {
  color: $deep_blue !important;
}

.legend-box {
  height: 20px;
  width: 40px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */
{
  filter: invert(100%);
}

.footer-container {
  @extend .container;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  min-height: auto;
}

.fit-height{
  height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
