@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap";
@import '~bootstrap/scss/bootstrap';
//Colors
$deep_blue: #000029;
$white: #FFFFFF;
$yellow: #ffdc00;
$orange: #FFCB2B;
$deep_orange: #FF5C45;
$light-blue: #8686AD;
$red: #FE0000;
$blue: #0037f1;
$neutral_orange: #ffefd9; //rgb(254, 239, 221);
$neutral_grey: #F6F5EA;
$darker-grey: #C4C4C4;
$neutral_blue: #DDDDE3;
$grey: #F2F2F2;
$light-orange: rgb(255, 147, 0, 0.3);

//Typography
@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Regular.ttf) format("truetype");
  font-weight: normal;
}


@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Rubik";
  src: local("rubik"), url(assets/fonts/Rubik/Rubik-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

//SourceSansPro
@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal;
}


@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("sourcesanspro"), url(assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MediaSans";
  src: local("mediasans"), url(./assets/fonts/mediasans.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "MediaSans";
  src: local("mediasan-black"), url(./assets/fonts/mediasans-black.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-Book"), url(./assets/fonts/GothamNarrow-Book.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-Bold"), url(./assets/fonts/GothamNarrow-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-MediumItalic"), url(./assets/fonts/GothamNarrow-MediumItalic.otf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GothamNarrow";
  src: local("GothamNarrow-Bold"), url(./assets/fonts/GothamNarrow-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "TiemposText";
  src: local("TiemposText-Regular"), url(./assets/fonts/TiemposText-Regular.otf) format("truetype");
}

@font-face {
  font-family: "TiemposText";
  src: local("TiemposText-RegularItalic"), url(./assets/fonts/TiemposText-RegularItalic.otf) format("truetype");
  font-style: italic;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

//style of different sections
body {
  font-family: SourceSansPro !important;
  color: $deep_blue !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  margin: 0 !important;
}

a {
  color: $deep_blue !important;
}

a:hover {
  color: $deep_orange !important;
}

table a {
  color: $deep_blue !important;
  text-decoration: none !important;
}

table th > a {
  color: $white !important;
  text-decoration: none !important;
}

table th > a:focus, table th > a:hover {
  color: $deep_orange !important;
}

table a:focus, a:hover {
  color: $deep_orange !important;
}

.clickable-header:hover {
  color: $deep_orange !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

th.active {
  color: $deep_orange !important;
}

.table {
  border: 1px solid transparent !important;
  color: $white !important;
  font-family: SourceSansPro !important;
  font-size: 16px !important;
}

.table td {
  border: 1px solid $grey !important;
}

td.bg-deep-blue:hover {
  background-color: $white !important;
  color: $deep_blue !important;
}

td.bg-deep-orange:hover {
  background-color: $white !important;
  color: $deep_orange !important;
}

.table tr {
  color: $deep_blue !important;
  font-size: 0.9em !important;
}

.table > :not(caption) > * > * {
  padding-top: 0.32rem !important;
  padding-bottom: 0.32rem !important;
}

.table .clickable:hover {
  cursor: pointer !important;
  font-weight: bold !important;
}

.methodology-table.table-bordered {
  color: $white !important;
}

.methodology-table.table-bordered tr {
  color: $white !important;
  font-size: 0.9em !important;
}

.methodology-table.table-bordered tr a {
  color: $white !important;
}

p {
  font-size: 1.1em !important;
}

h1.title {
  font-family: Rubik !important;
  font-weight: 700 !important;
  font-size: 4em !important;
  text-transform: uppercase !important;
  line-height: 1.1 !important;
  max-width: 490px !important;
}

.text-deep-blue {
  color: $deep_blue !important;
}

.text-white {
  color: $white !important;
}

@media screen and (max-width: 1200px) {
  h1.title {
    font-size: 3em !important;
    word-wrap: break-word !important;
  }
}

@media screen and (max-width: 992px) {
  h1.title {
    font-size: 2.75em !important;
    word-wrap: break-word !important;
  }
}

@media screen and (max-width: 576px) {
  h1.title {
    font-size: 2.6em !important;
    word-wrap: break-word !important;
  }
}

@media screen and (max-width: 380px) {
  h1.title {
    font-size: 2.2em !important;
    word-wrap: break-word !important;
  }
}

h3 {
  font-family: Rubik !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: $deep_blue !important;
}

h4 {
  font-family: Rubik !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: $deep_blue !important;
}

h5 {
  font-family: Rubik !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.subtitle {
  font-family: TiemposText !important;
  font-size: 1.4em !important;
  font-weight: 300 !important;
  max-width: 490px !important;
}

@media screen and (max-width: 500px) {
  .subtitle {
    font-size: 1.3em !important;
  }
}

.quote {
  font-family: SourceSansPro !important;
  font-size: 0.9em !important;
}

.note {
  font-family: SourceSansPro !important;
  font-style: italic !important;
  font-size: 12px !important;
}

.button {
  border: 0 !important;
  padding: 0.5em 1em 0.5em 1em !important;
  font-family: Rubik !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  //letter-spacing: 1px !important;
  display: inline-block !important;
  text-decoration: none !important;
  color: #000028 !important;
  position: relative !important;
  cursor: pointer !important;

}

a.transparent-button {
  color: $white !important;
  border: 1px solid $white !important;
  border-width: 1px !important;
}

a.transparent-button:hover {
  background-color: $white !important;
  border: 1px solid $white !important;
  color: $deep_blue !important;
}

a.white-button {
  color: $white !important;
  border: 1px solid $white !important;
  border-width: 1px !important;
}

a.white-button:hover {
  background-color: $white !important;
  color: $deep_blue !important;
}

a.button-sm {
  padding: 0.5em 1.2em 0.5em 1.2em !important;
  font-family: Rubik !important;
  font-weight: 700;
  text-transform: uppercase !important;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  display: inline-block !important;
  text-decoration: none !important;
  position: relative !important;
  cursor: pointer !important;
}


.btn-transparent {
  background-color: transparent !important;
  color: $deep_blue !important;
  border: 1px solid $deep_blue !important;
}

.btn-transparent:hover {
  background-color: $deep_blue !important;
  color: $white !important;
  border: 1px solid $deep_blue !important;
}

.btn-deep-blue {
  background-color: $deep-blue !important;
  color: $white !important;
  border: 1px solid $deep_blue !important;
}

.btn-deep-blue:hover {
  background-color: transparent !important;
  color: $deep_blue !important;
  border: 1px solid $deep_blue !important;
}

.orange-button {
  background: $orange;
  margin-right: 1em;
  border: 1px solid $orange !important;
  border-width: 1px;
}

.orange-navy-button {
  background: $orange;
  margin-right: 1em;
  border: 1px solid $orange !important;
  border-width: 1px;
}

.orange-navy-button:hover {
  background: transparent;
  color: $deep_blue !important;
  border: 1px solid $deep_blue !important;
}

.orange-button:hover {
  background: transparent;
  color: $orange !important;
  border: 1px solid $orange !important;
}

//deep-blue-button
a.deep-blue-button {
  background: $deep_blue;
  color: $white !important;
  margin-right: 1em;
  border: 1px solid $white;
  border-width: 1px;
}

a.deep-blue-button:hover {
  background: $yellow;
  border: 1px solid $yellow;
  color: $deep_blue !important;
  border-width: 1px;
}

//different backgrounds

.bg-neutral-orange {
  background-color: $neutral_orange !important;
}

.bg-neutral-grey {
  background-color: $neutral_grey !important;
}

.bg-grey {
  background-color: $grey !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-darker-grey {
  background-color: $darker-grey !important;
}

.bg-darker-grey {
  background-color: $light-orange;
}

.bg-neutral-blue {
  background-color: $neutral_blue !important;
}

.bg-deep-blue {
  background-color: $deep_blue !important;
  color: $white;
}

.bg-dark-orange {
  background-color: $deep_orange !important;
}

.bg-deep-blue-transparent {
  background-color: rgba(0, 0, 41, 0.75) !important;
  color: $white;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-light-blue {
  background-color: $light-blue !important;
}

.bg-deep-orange {
  background-color: $deep_orange !important;
}

.bg-light-orange {
  background-color: #FFBEB5 !important;
}

.bg-white {
  background-color: $white !important;
}

//header
header-component img.logo {
  height: 45px !important;
}

header-component {
  width: 100% !important;
}

//navigation
.nav-link {
  color: $white !important;
  font-family: Rubik !important;
  font-weight: 700 !important;
}

.nav-link {
  color: $white !important;
}

.nav-link:hover {
  color: darken($white, 20%) !important;
}

button.nav-link {
  background-color: $deep_blue !important;
}

//footer
footer .logo {
  height: 45px !important;
  padding: 0 5% !important;
  text-align: center !important;
}

footer .logo-right {
  padding-right: 0 !important;
}

footer .logo-center {
  border: 2px solid $deep_blue !important;
  border-width: 0px 0px 0px 2px !important;
}

footer img {
  max-width: 100% !important;
  max-height: 70px !important;
}

footer .row {
  align-items: center !important;
}

//section
.section {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

//section
.section-top {
  margin-top: 1em !important;
}

.section-bottom {
  margin-bottom: 1em !important;
}

.filter-dropdown .sector-filter {
  border-radius: 0 !important;
  background: $deep_blue !important;
  border-radius: 2px !important;
  border-color: $white;
  font-size: 0.8em !important;
  font-family: Rubik !important;
  font-weight: 700;
  text-transform: uppercase !important;
  display: inline-block !important;
  color: $white !important;
  margin: 0.5em 0 !important;

}

.sector-filter:hover {
  background: $white !important;
  color: $deep_blue !important;
}

.sector-filter::after {
  content: "\f107" !important;
  font-family: FontAwesome !important;
  font-size: 1.1em;
  color: $orange;
  padding-left: 0.4em;
}

.filter-dropdown ul.dropdown-menu {
  border: 0 !important;
  border-radius: 0 !important;
  color: $deep_blue !important;
  background: $neutral_grey !important;
  box-shadow: 0 0 0.5rem 0.25rem #BBBBBB !important;
}

.filter-dropdown a.dropdown-item {
  padding: 10px !important;
  display: flex !important;
  justify-content: space-between !important;
  font-family: Rubik !important;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase !important;
}

a.dropdown-item:focus {
  background-color: #e9ecef;
}

a.dropdown-item .count {
  padding-left: 1em !important;
}

.filter-dropdown .reset-item-li {
  display: none !important;
}

//define msa-form-select
.msa-form-select {
  @extend .form-select;
  font-family: Rubik !important;
  text-transform: uppercase !important;
  line-height: 40px;
  //letter-spacing: 0.5px !important;
  font-weight: normal !important;
  font-size: .9em !important;
  color: #000028 !important;
  max-width: 150px !important;
  height: 35px;
  border-radius: 0 !important;
  border-color: $deep_blue !important;

  :focus {
    border-color: $deep_blue !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 41, 0.6) !important;
    outline: 0 none !important;
  }

  ::after {
    color: $blue !important;
  }
  
}

.msa-metric-select {
  @extend .form-select;
  font-family: Rubik !important;
  // text-transform: uppercase !important;
  line-height: 40px;
  //letter-spacing: 0.5px !important;
  font-weight: normal !important;
  font-size: .9em !important;
  color: #000028 !important;
  // max-width: 150px !important;
  height: 35px;
  border-radius: 0 !important;
  border-color: $deep_blue !important;

  :focus {
    border-color: $deep_blue !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 41, 0.6) !important;
    outline: 0 none !important;
  }

  ::after {
    color: $blue !important;
  }
  
}

//deep-blue horizontal rule

hr.deep-blue {
  height: 1.5px !important;
  background-color: $deep_blue !important;
  border: none !important;
  opacity: 1;
}

//text decorations

.msa-primary-info {
  font-size: 3em;
  font-weight: 700;
  font-family: 'Rubik';
}

.msa-primary-info-md {
  font-size: 2.3em !important;
  font-weight: 700;
  font-family: 'Rubik';
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .msa-primary-info-md {
    font-size: 1.3em !important;
    font-weight: 700;
    font-family: 'Rubik';
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.msa-secondary-info {
  font-family: 'Rubik';
  font-weight: 700;
  text-transform: uppercase !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.chart-wrapper svg {
  max-width: 100% !important;
  height: auto !important;
}

.accordion-button {
  background-color: #FF9300 !important;
  padding: 1em !important;
  //border-radius: 0em 1.5em 0em 1.5em !important;
}

.accordion-button:not(.collapsed) {
  background-color: #FF9300 !important;
  padding: 1em !important;
  //border-radius: 0em 1.5em 0em 0em !important;
}

.accordion-button:hover {
  background-color: #FFDC00 !important;
}

.accordion-item {
  border-color: $deep_blue !important;
  //border-radius: 0em 1.5em 0em 1.5em !important;
}

.accordion-button::after {
  color: #0037F1 !important;
  content: "\f105" !important;
  font-family: FontAwesome !important;
  background-image: none !important;
  height: auto !important;
  font-size: 2.5em !important;
  padding-right: 0.75em !important;
}

.accordion-button:not(.collapsed)::after,
{
  color: #0037F1 !important;
  content: "\f107" !important;
  font-family: FontAwesome !important;
  background-image: none !important;
  height: auto !important;
  font-size: 2.5em !important;
  padding-right: 0.75em !important;
}

.accordion-button-text {
  color: $deep_blue !important;
  padding: 0 2% !important;
}

.accordion-collapse {
  padding: 2em 2% !important;
  background-color: $grey !important;
  border: 0 !important;
  //border-radius: 0em 1.5em 0em 1.5em !important;
}

.accordion-button-grey {
  @extend accordion-button !optional;
  background-color: $grey !important;
  color: $deep_blue;
  padding: 1em !important;
  //border-radius: 0em 1.5em 0em 1.5em !important;
  border-color: $white;
}

.accordion-button-grey:not(.collapsed) {
  @extend accordion-button !optional;
  background-color: $grey !important;
  color: $deep_blue;
  padding: 1em !important;
  //border-radius: 0em 1.5em 0em 0em !important;
  border-color: $deep_blue;
}

.accordion-button-grey:hover {
  background-color: $deep_blue !important;
  color: $white !important;
}

.accordion-button-grey:not(.collapsed) .on-details::after,
.accordion-button-grey .on-details::after {
  content: "\f107" !important;
  font-family: FontAwesome !important;
  background-image: none !important;
  height: auto !important;
  font-size: 1.2em !important;
  padding-left: 0.5em !important;
}

.accordion-button-grey .on-details::after {
  content: "\f105" !important;
  font-family: FontAwesome !important;
  background-image: none !important;
  height: auto !important;
  font-size: 1.2em !important;
  padding-left: 0.5em !important;
}

.subsection-header h3 {
  background-color: #FFDC00 !important;
  color: #000028 !important;
  padding: 0.5em !important;
  margin: 1em 0 0.5em 0 !important;
}

a.anchor {
  display: block !important;
  position: relative !important;
  top: -100px !important;
  visibility: hidden !important;
}

.hide-element {
  display: none !important;
}

.highlighted-number {
  font-size: 2em !important;
  font-weight: 700 !important;
  font-family: Rubik !important;
}

.highlighted-number-lg {
  font-size: 1.5em !important;
  font-weight: 600 !important;
}

.tooltip-item {
  font-weight: bold;
}

.tooltip-item:hover {
  color: $deep_orange;
  cursor: pointer;
}

a.tooltip-term:hover {
  color: $deep_orange !important;
}

.popover-header {
  background-color: $neutral_grey !important;
}

.highlight-box {
  min-height: 150px;
  border-radius: 10px;
  border-width: 1px;
  border-color: $deep-blue !important;
}

.msa-primary-info-lg {
  font-size: 3.7em;
  font-weight: 700;
  font-family: 'Rubik';
}

@media screen and (max-width: 576px) {
  .msa-primary-info-lg {
    font-size: 2.5em;
  }
}

p.accordion-paragraph {
  min-height: 80px !important;
}

@media screen and (max-width: 1400px) {
  p.accordion-paragraph {
    min-height: 110px !important;
  }
}

@media screen and (max-width: 1200px) {
  p.accordion-paragraph {
    min-height: 132px !important;
  }
}

@media screen and (max-width: 994px) {
  p.accordion-paragraph {
    min-height: 0px !important;
  }
}

.align-middle {
  /* vertical-align: middle!important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.number-box {
  color: $deep_blue !important;
  border: 1px solid $deep_blue !important;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.number-box:hover {
  background-color: $deep_blue;
  border-color: $white;
  color: $white !important;
}

h6 {
  font-family: Rubik !important;
  text-transform: uppercase !important;
}

@media screen and (max-width: 576px) {
  h5 {
    font-size: 1rem !important;
  }
}

.td-bg-color-yellow {
  background-color: rgba(255, 203, 43, 0.25) !important;
  color: $deep_blue;
}

.td-bg-color-red {
  background-color: rgba(255, 92, 69, 0.25) !important;
  color: $deep_blue;
}

.blue-title {
  color: $blue !important;
}

.text-deep-blue {
  color: $deep_blue !important;
}

.legend-box {
  height: 20px;
  width: 40px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */
{
  filter: invert(100%);
}

.footer-container {
  @extend .container;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  min-height: auto;
}

.fit-height {
  height: 100%;
}

about p {
  font-size: 20px !important;
}

a.tooltip-term {
  color: $deep_blue !important;
}

.btn-warning {
  background-color: $orange !important;
  font-family: Rubik !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

.btn-warning:hover {
  background-color: darken($orange, 10%) !important;
}

.cc-message{
  padding: 10px !important;
}
a.cc-deny:hover {
  color: $orange !important;
}

a.cc-deny {
  background-color: $deep_blue !important;
  color: $white !important;
}

a.cc-allow:hover {
  background-color: darken($orange, 10%) !important;
}

a.cc-link{
  color: $white !important;
}

a.cc-allow {
  background-color: $orange !important;
  color: $deep_blue!important;
}

a.cc-btn {
  margin: 5px !important;
  text-transform: uppercase !important;
  font-family: Rubik !important;
  text-decoration: none !important;
  height: 100%;
}

i.superscript {
  @extend sup;
  font-size: 0.85em;
  opacity: 0.85;
}

i.superscript:hover{
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .cc-btn {
    width: 100% !important;
    height: 100% !important;
  }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
