.blockquote {
    font-size: 1.1rem;
    border-color: rgb(255, 92, 69);
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0 0 0 2px;
}
i {
    color: rgb(255, 92, 69);
}

h6{
    color: rgb(255, 92, 69);
}